.filter-bar {
  max-width: 600px;
  padding: 0;
  background-color: $grey-light;
}

.time {
  display: flex;
  div {
    width: 100%;
    input {
      display: none;
    }
    label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      padding: 15px 0;
      background-color: $grey-light;
    }
    input:checked+label {
      background-color: red;
    }
  }
}

.zipcode {
  width: 100px;
}

.form-control {
  border-radius: 2px;
}
